html{

}
body h1 {
    text-align: center;
}

/*control the hover action*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

li .ui-state-default .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

/*add empty space for viewing*/
#empty {
    height: 190px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*the title */
.year {
    text-align: center;
    size: 2em;
}
.container{
    position: relative;
}
#requirement{
    background-color: cornsilk;
}
#available{
    background-color: cornsilk;
}
.ui-state-default, .ui-state-highlight{
    border-radius: 5px;
}
.col-md-3 #sortable1 li{
    text-align: center;
}
.ui-state-default:hover{
    cursor: pointer;
}

#sortable1 li:hover{
    background: chartreuse;
    color: white;

}